* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* pagina nosotros */
.texto {
    height: 400px;
}

.texto p {
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
}
.texto h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;

}
.nav-item {
    background-color: white;
    font-size: 40px;
    margin-top: 50px;

}
.nav-link {
    color: black;
}
.color {
    color: coral;
}
.contenedor-nosotros {
    background-color: darkgray;
}
.footer-logo {
    display: flex;
    justify-content: center;

}
/*pagina ubicación*/
.mapa-ubi iframe {
    width: 100%;
}
.footer-logo-ubi {
    display: flex;
    justify-content: end;
}
.contenedor-ubicacion {
    background-color: darkgray;

}
/* pagina servicio*/
.contenedor-servicios {
    background-color: darkgray;
    
}





